<div class="card">
  <div class="card-body">
    <h5 class="card-title">Lista de Tareas</h5>
    <div class="header-options">
      <div class="mb-3 row">
        <label
          for="table-filtering-search"
          class="col-xs-3 col-sm-auto col-form-label"
          >Buscar:</label
        >
        <div class="col-xs-3 col-sm-auto">
          <input
            id="table-filtering-search"
            class="form-control"
            type="text"
            [(ngModel)]="textSearch"
            (keyup)="onKeyupSearchInput($event)"
          />
        </div>
      </div>

      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="showPeding"
          [(ngModel)]="showOnlyPending"
          (change)="onChangePedingFlag()"
        >
        <label class="form-check-label" for="inlineCheckbox1">Mostrar solo tareas pendientes</label>
      </div>
    </div>

    <div class="table-responsive-sm">
      <table
        class="table table-hover table-striped table-sm table-bordered"
        id="sscoTable"
      >
        <thead>
          <tr>
            <th *ngFor="let column of columns">
              {{ column.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listTask">
            <td>
              {{ item.title }}
            </td>
            <td>
              {{ item.description }}
            </td>
            <td>
              <select
                id="status"
                class="form-control form-select"
                [(ngModel)]="item.status"
                style="width: 160px"
                (change)="onChangeStateTask(item)"
              >
                <option
                  *ngFor="let option of statusOptions"
                  [value]="option.value"
                >
                  {{ option.name }}
                </option>
              </select>
            </td>
            <td class="table-options-column btn-menu">
              <fa-icon
                class="btn btn-primary btn-sm"
                id="toggleButton"
                #toggleButton
                (click)="onEditTask(item)"
                [icon]="faEdit"
              ></fa-icon>
              <i class="fa fa-duotone fa-pen-to-square"></i>
              <fa-icon
                class="btn btn-danger btn-sm btn-menu"
                id="toggleButton"
                #toggleButton
                (click)="onDeleteTask(item)"
                [icon]="faTrash"
              ></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="totalRecords"
          [(page)]="page"
          [pageSize]="pageSize"
          (pageChange)="refreshList()"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
