.btn-menu {
  margin: 5px 10px;
}


.table-options-column {
  gap: 10px;
  height: 100%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.header-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

